fastapi==0.121.2
uvicorn[standard]==0.38.0
sqlalchemy==2.0.23
pydantic==2.12.4
pydantic_core==2.41.5

# Линтеры и тестирование
flake8==7.0.0
flake8-bugbear==24.1.17
flake8-docstrings==1.7.0
black==24.1.1
isort==5.13.2
mypy==1.8.0
pytest==7.4.4
pytest-asyncio==0.23.2
httpx==0.26.0
